body{
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}

div{
    align-items: center;
    text-align: center;
    border-radius: 4%;
    margin-top: 6%;
    margin-left: 480;
    margin-right: 480;
    background-color: white;
    width:270px;
    height:420px
}

h1{
    text-align: center;
    font-size: 19px;
    font-family: 'Outfit', sans-serif;
}

p{
    text-align: center;
    font-size: 13px;
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
}

img{
    margin-top: 5%;
    margin-bottom: 3%;
    border-radius: 4%;
    width:240px;
    height:240px;
    alt:"";
}